:root {
  font-size: 62.5%;
  --color-black: black;
  --color-white: white;
  --play-btn-hover-bg-color: rgb(234, 234, 234);
  --menu-bg-color: #c3c3c3;
  --sky-color: rgb(121, 188, 255);
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../imgs/materials/Sand.png);
}

/* ----------------------Gameboard--------------------------- */

.grid-container {
  height: 100%;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  height: 100vmin;
  width: 100vmin;
  margin: 0 5rem;
}

.grid-item {
  width: 100%;
  height: 100%;
}

.grid-item:hover {
  border: 1px solid var(--color-white);
}

.sky {
  background-color: var(--sky-color);
}

.cloud {
  background-color: var(--color-white);
}

.grass {
  background: url(../imgs/materials/Grass.png) no-repeat;
  background-size: cover;
}

.dirt {
  background: url(../imgs/materials/Dirt.png) no-repeat;
  background-size: cover;
}

.log {
  background: url(../imgs/materials/Log.png) no-repeat;
  background-size: cover;
}

.leaf {
  background: url(../imgs/materials/Leaf.png) no-repeat;
  background-size: cover;
}

.stone {
  background: url(../imgs/materials/Cobblestone.png) no-repeat;
  background-size: cover;
}

/* ----------------------Menu--------------------------- */

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 15%;
  background-color: var(--menu-bg-color);
  border-left: 2px solid var(--color-black);
}

.tools-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tool-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border: 2px solid black;
}

.tool-container:hover {
  background-color: var(--color-white);
}

.tool-container > * {
  /* so children events won't be fired */
  pointer-events: none;
}

.tool {
  width: 5rem;
  height: 5rem;
}

[data-tool-active="true"] {
  background-color: green;
}

[data-tool-active="true"]:hover {
  background-color: green;
}

.error {
  background-color: red;
}

.axe-img {
  background: url(../imgs/tools/tools.png) no-repeat -110px 10px;
  background-size: 200px;
}

.pickaxe-img {
  background: url(../imgs/tools/tools.png) no-repeat -60px 10px;
  background-size: 200px;
}

.shovel-img {
  background: url(../imgs/tools/tools.png) no-repeat -160px 10px;
  background-size: 200px;
}

.storage-grid {
  margin: 2rem;
  display: grid;
  grid-template-areas:
    "log leaf grass"
    "dirt stone water";
  justify-content: center;
  gap: 1rem;
}

.storage-item {
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.storage-item > * {
  pointer-events: none;
}

[data-storage-active="true"] {
  border: 2px solid var(--color-white);
}

.storage-log {
  background: url(../imgs/materials/Log.png) no-repeat;
  background-size: cover;
  grid-area: log;
  opacity: 0.9;
}
.storage-leaf {
  background: url(../imgs/materials/Leaf.png) no-repeat;
  background-size: cover;
  grid-area: leaf;
  opacity: 0.9;
}
.storage-grass {
  background: url(../imgs/materials/Grass.png) no-repeat;
  background-size: cover;
  grid-area: grass;
  opacity: 0.9;
}
.storage-dirt {
  background: url(../imgs/materials/Dirt.png) no-repeat;
  background-size: cover;
  grid-area: dirt;
  opacity: 0.9;
}
.storage-stone {
  background: url(../imgs/materials/Cobblestone.png) no-repeat;
  background-size: cover;
  grid-area: stone;
  opacity: 0.9;
}
.storage-water {
  background: url(../imgs/materials/Water.png) no-repeat;
  background-size: cover;
  grid-area: water;
  opacity: 0.9;
}

.material__amount {
  font-size: 1.5rem;
  color: gold;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  font-size: 1.5rem;
  width: 10rem;
  padding: 0;
  margin: 0.5rem 0;
}

.material__amount {
  font-family: Arial, Helvetica, sans-serif;
}

/* ----------------------Media queries--------------------------- */

@media (max-width: 1000px) {
  .storage-grid {
    grid-template-areas:
      "log leaf"
      "grass dirt"
      "stone water";
  }
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .menu-container {
    height: 30%;
    width: 100%;
    border-left: 0;
    border-top: 2px solid var(--color-black);
    flex-direction: row;
  }

  .storage-grid {
    grid-template-areas:
      "log leaf grass"
      "dirt stone water";
  }

  .grid-container {
    height: 90%;
    width: 100%;
  }

  .tools-container {
    flex-direction: row;
  }

  .tool {
    width: 5rem;
    height: 3.5rem;
  }

  .axe-img {
    background: url(../imgs/tools/tools.png) no-repeat -89px 1px;
    background-size: 17rem;
  }

  .pickaxe-img {
    background: url(../imgs/tools/tools.png) no-repeat -50px 2px;
    background-size: 17rem;
  }

  .shovel-img {
    background: url(../imgs/tools/tools.png) no-repeat -130px 2px;
    background-size: 17rem;
  }
}

@media (max-width: 600px) {
  .storage-grid {
    grid-template-areas:
      "log leaf"
      "grass dirt"
      "stone water";
  }

  .menu-container {
    height: 40%;
  }

  .tools-container {
    flex-direction: column;
  }

  .tool {
    width: 5rem;
    height: 3.5rem;
    margin: 0;
  }

  .tool-container {
    margin: 2px;
  }
}
